
.MinhaEstante {
   width: 100%;
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

.empty-space {
   height: 40px;
}

@media (max-width: 800px) { 
 .MinhaEstante {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
 }

.MyDiscs {
   width: 100%;
   overflow-x: auto;
}

.tr-shit {
   margin-left: 420px;
}

}